<div class="row justify-content-center">
     <div class="col-6">
          <section class="depot_form">
               <% if flash[:alert] %>
                    <aside class="notice"><%= flash[:alert] %></aside>
               <% end %>
               
               <%= form_tag do %>
                    <h2>Please Log In</h2>
                    <div class="mb-2">
                         <%= label_tag :name, 'Name:' %>
                         <%= text_field_tag :name, params[:name], class:"form-control" %>
                    </div>

                    <div class="mb-2">
                         <%= label_tag :password, 'Password:' %>
                         <%= password_field_tag :password, params[:password], class:"form-control" %>
                    </div>

                    <div class="mb-2">
                         <%= submit_tag "Login", class:"btn btn-primary" %>
                    </div>
               <% end %>

                    <div class="mb-2">
                         <%= button_to "Sign Up", new_user_path, method: :get, class:"btn btn-primary" %> 
                    </div>
          </section>
     </div>
</div>