<%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :salutation, style: "display: block" %>
    <%= form.select :salutation, Person.salutations.keys, include_blank: true%>
  </div>

  <div>
    <%= form.label :firstName, style: "display: block" %>
    <%= form.text_field :firstName %>
  </div>

  <div>
    <%= form.label :middleName, style: "display: block" %>
    <%= form.text_field :middleName %>
  </div>

  <div>
    <%= form.label :lastName, style: "display: block" %>
    <%= form.text_field :lastName %>
  </div>

  <div>
    <%= form.label :ssn, style: "display: block" %>
    <%= form.text_field :ssn %>
  </div>

  <div>
    <%= form.label :birthDate, style: "display: block" %>
    <%= form.date_field :birthDate %>
  </div>

  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
