<div id="<%= dom_id person %>">
  <p>
    <strong>Salutation:</strong>
    <%= person.salutation %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= person.firstName %>
  </p>

  <p>
    <strong>Middlename:</strong>
    <%= person.middleName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= person.lastName %>
  </p>

  <p>
    <strong>Ssn:</strong>
    <%= person.ssn %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= person.birthDate %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= person.comment %>
  </p>

</div>

<div id="addresses">

</div>
