<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @people.each do |person| %>
  <tr>
    <td>
      <%= person.salutation %>
      <%= person.first_name %>
      <%= person.last_name %>
    </td>
    <td>
      <%= person.emails.first_or_initialize.email_address %>
    </td>
    <td>
       <%= person.phone_numbers.first_or_initialize.phone_number %>
    </td>
    <td>
      <%= person.comment %>
    </td>     
    <td>
      <%= link_to "Show details", person %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
