<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="turbolinks-visit-control" content="reload">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="theme-color" content="#563d7c">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="<%= people_index_url %>">Contacts</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= people_index_url %>">Home <span class="sr-only">Home</span></a>
        </li>
      </ul>
    </div>
    <div id="alert" class="alert" style="display: none" role="alert">
      <button class="close" onclick="$('.alert').hide()">×</button>
      <p id="message"></p>
    </div>
  </nav>

  <main role="main">

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p id="notice"><%= notice %></p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>Basic Information</h2>
          <div id="person-basics">
            <%= render 'personBasics'%>
          </div>
        </div>
        <div class="col-md-4">
          <h2>Contact</h2>
          <div id="person-phones">
            <%= render 'phones/personPhones'%>
          </div>
          <p>
          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapsePhone"
            aria-expanded="false" aria-controls="collapsePhone">
            Add New Phone
          </button>
          </p>
          <div class="collapse" id="collapsePhone">
            <div class="card card-body" id="phones-form">
              <%= render 'phones/form', phone: @phone %>
            </div>
          </div>
          <div id="person-emails">
            <%= render 'emails/personEmails'%>
          </div>
          <p>
          <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseEmail"
            aria-expanded="false" aria-controls="collapseEmail">
            Add New Email
          </button>
          </p>
          <div class="collapse" id="collapseEmail">
            <div class="card card-body" id="emails-form">
              <%= render 'emails/form', email: @email %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h2>Address</h2>
          <div id="person-addresses">
            <%= render 'addresses/personAddresses'%>
          </div>
          <p>
            <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseAddress"
              aria-expanded="false" aria-controls="collapseAddress">
              Add New Address
            </button>
          </p>
          <div class="collapse" id="collapseAddress">
            <div class="card card-body" id="addresses-form">
              <%= render 'addresses/form', address: @address %>
            </div>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </main>
</body>

</html>