<div id="<%= dom_id address %>">
  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= address.town %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= address.country %>
  </p>

</div>
