<div class="mb-3">
  <div id="<%= dom_id email %>"> 
    <p>
      <strong>Email address:</strong>
      <%= email.email_address %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= email.comment %>
    </p>
    <div class="d-flex flex-row"> 
    <%= button_to "Edit email", edit_person_email_path(email.person, email), method: :get, remote: true, class: 'btn btn-small btn-outline-secondary me-2' %>
    <%= button_to "Destroy email", person_email_path(email.person, email), method: :delete, remote: true, class: 'btn btn-small btn-outline-danger' %>
    </div>
  </div>
</div>

<hr>

