<%= form_with model: [@person, @person.emails.build ] do |form| %>
    <p>
      <%= form.label :email_address %><br>
      <%= form.text_field :email_address %>
    </p>
    <p>
      <%= form.label :comment%><br>
      <%= form.text_field :comment%>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <% end %>