<%= form_with model: [@person, @email ], local: false, id: "email-form" do |form|  %>
  <div class="mb-2">
    <%= form.label :email_address %>
    <%= form.text_field :email_address, class:"form-control" %>
    <% @email.errors.full_messages_for(:email_address).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <div class="mb-2">      
      <%= form.label :comment %><br>
      <%= form.text_field :comment, class:"form-control" %>
  </div>
    <div class="mb-2">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>Save<% end %>
  </div>
<% end %>